pt-BR/LOGuides/omegat.project
pt-BR/LOGuides/omegat/*
pt-BR/LOGuides/omegat/ignored_words.txt
pt-BR/LOGuides/omegat/last_entry.properties
pt-BR/LOGuides/omegat/learned_words.txt
pt-BR/LOGuides/omegat/project_save.tmx
pt-BR/LOGuides/omegat/project_save.tmx.201605100525.bak
pt-BR/LOGuides/omegat/project_save.tmx.201605132122.bak
pt-BR/LOGuides/omegat/project_save.tmx.201605132131.bak
pt-BR/LOGuides/omegat/project_stats.txt
pt-BR/LOGuides/omegat/segmentation.conf
